.banner {
  width: 100%;
  height: 300px;
  background-color: #f97676;
  display: flex;
  align-items: center;
}

.banner-inner {
  width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.band-image-show > img {
  vertical-align: middle;
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.band-image-show {
  padding-bottom: 20px;
}

.band-info-head {
  align-items: center;
  justify-content: space-between;
}

#review-card {
  padding: 5px;
  margin: 10px 0;
  background-color: #f97676;
  color: white;
  border-radius: 3px;
}

.fa-brands {
  font-size: 80px;
  margin: 10px 20px;
}

.logo-display {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.review-form {
  padding: 7px;
  background-color: white;
  border-radius: 5px;
}
