<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://imgix.ranker.com/list_img_v2/1967/2841967/original/2841967?w=817&h=427&fm=jpg&q=50&fit=crop);">
  <div class="container">
    <h1> Band Job <strong>music</strong> within <strong>your grasp </strong>!</h1>
    <p>Find and book bands in your local area</p>
    <a class="btn btn-flat" href="#">search now</a>
  </div>
</div>
