<div class="container">
  <div class="band-profile-card shadow rounded border rounded" stye="min-height: 50%;">
    <div class="band-card-title">
    </div>
    <div class="row">
      <div class="band-card-img col-6 text-center p-1">
        <h1 class="text-center my-3"><%= @band.name %></h1>
        <img src="" alt="A photo of <%= @band.name %>" class="my-3" style="min-height: 10rem">
      </div>
      <div class="col-6 container d-flex flex-column justify-content-between ">
          <div class="genre-display">
            <h5 class="text-center">Genre: <%= @band.genre %></h5>
            <h5 class="text-center">Price Per Night: £<%= @band.price_per_night %></h5>
          </div>
          <div class="band-booking-info">
            <h1>Booking Input To Go Here</h1>
          </div>
      </div>
    </div>
  </div>
</div>
